html, body, main, div, h1, header, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: white;
}

html {
  font-size: 32px;
  font-family: Helvetica, Arial;
  font-weight: 999;
}

body {
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

header {
  padding: .4rem;
  font-family: serif;
  border-bottom: 1px solid #333;
  margin-bottom: .25rem;
}

h1 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--font-color);
  text-align: center;
}

.word-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
}

.letter {
  border: 2px solid #333;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  position: relative;
  user-select: none;
  animation-fill-mode: forwards;
}

.letter.almost {
  /* background-color: hsl(35, 34%, 60%); */
  border: none;
  animation: rotate-almost .2s;
  animation-fill-mode: forwards;
}

.letter.good {
  /* background-color: hsl(120, 33%, 45%); */
  border: none;
  animation: rotate-good .2s;
  animation-fill-mode: forwards;
}

.letter.wrong {
  /* background-color: #333; */
  border: none;
  animation: rotate-wrong .2s;
  animation-fill-mode: forwards;
}

p#debug-console {
  font-size: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: #666;
  text-align: center;
}

#keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

#keyboard > div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#keyboard > div > a {
  font-size: .6rem;
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: .5rem .4rem;
  border-radius: 3px;
  user-select: none;
}

#keyboard > div > a.good {
  background-color: hsl(120, 33%, 45%);
}

#keyboard > div > a.almost {
  background-color: hsl(35, 34%, 60%);
}

#keyboard > div > a.wrong {
  background-color: #222;
  color: #888;
}

.fixed-width {
  width: 2rem;
  font-size: .4rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#debug-console {
  text-align: center;
  color: white;
  font-size: .6rem;
  font-family: monospace;
}

.message {
  font-size: .6rem;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: .5rem;
  margin: 0 auto;
  top: 7rem;
  left: 0;
  right: 0;
  width: 8rem;
  display: block;
  position: absolute;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 0 1rem 1rem #00000088;
  transition: top .3s;
}

.top {
  top: -3rem;
}

.happy {
  background-color: hsl(120, 33%, 45%);
}

.sad {
  background-color: hsl(0, 77.4%, 32.9%);
}

@keyframes rotate-good {
  0% { 
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  51% { 
    background-color: hsl(120, 33%, 45%);
    transform: rotate3d(0, 1, 0, 270deg);
  }
  100% {
    background-color: hsl(120, 33%, 45%);
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

@keyframes rotate-almost {
  0% { 
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  51% { 
    background-color: hsl(35, 34%, 60%);
    transform: rotate3d(0, 1, 0, 270deg);
  }
  100% {
    background-color: hsl(35, 34%, 60%);
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

@keyframes rotate-wrong {
  0% { 
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  51% { 
    background-color: #333;
    transform: rotate3d(0, 1, 0, 270deg);
  }
  100% { 
    background-color: #333;
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

.letter:nth-of-type(2) {
  animation-delay: .1s;
}

.letter:nth-of-type(3) {
  animation-delay: .2s;
}

.letter:nth-of-type(4) {
  animation-delay: .3s;
}

.letter:nth-of-type(5) {
  animation-delay: .4s;
}