html, body, main, div, h1, header, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: white;
}

html {
  font-size: 32px;
  font-family: Helvetica, Arial;
  font-weight: 999;
}

body {
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

header {
  padding: .4rem;
  font-family: serif;
  border-bottom: 1px solid #333;
  margin-bottom: .25rem;
}

h1 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--font-color);
  text-align: center;
}

.word-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
}

.letter {
  border: 2px solid #333;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  position: relative;
  user-select: none;
}

.letter.almost {
  background-color: hsl(35, 34%, 60%);
  border: none;
}

.letter.good {
  background-color: hsl(120, 33%, 45%);
  border: none;
}

.letter.wrong {
  background-color: #333;
  border: none;
}

p#debug-console {
  font-size: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: #666;
  text-align: center;
}

#keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

#keyboard > div {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#keyboard > div > a {
  font-size: .6rem;
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: .5rem .4rem;
  border-radius: 3px;
  user-select: none;
}

#keyboard > div > a.good {
  background-color: hsl(120, 33%, 45%);
}

#keyboard > div > a.almost {
  background-color: hsl(35, 34%, 60%);
}

#keyboard > div > a.wrong {
  background-color: #222;
  color: #888;
}

.fixed-width {
  width: 2rem;
  font-size: .4rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}