@font-face {
    font-family: Fleur;
    src: url(fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf);
}

@font-face {
    font-family: MonteCarlo;
    src: url(fonts/MonteCarlo/MonteCarlo-Regular.ttf);
}

@font-face {
    font-family: Comme;
    src: url(fonts/Comme/Comme-VariableFont_wght.ttf)
}

/* Reset styles */
* {
    all: unset;
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-decoration: none;
}

head {
    display: none;
}

:root {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-family: Comme;
}

header {
    background-color: #00529b;
    /* background-image: linear-gradient(to right, #003869, #00529b, #003869); */
    background-image: radial-gradient(circle, hsl(71, 28%, 15%), hsl(71, 28%, 7.5%));
    /* background-image: linear-gradient(to top, hsl(71, 28%, 15%), hsl(71, 28%, 7.5%)); */
    /* color: #fff9ea; */
    /* color: white; */
    color: #f4b829;
    font-family: MonteCarlo;
    font-size: 3rem;
    padding: 0 0 .4rem 0;
    text-align: center;
    position: relative;
    /* position: sticky;
    top: 0; */
}

header > header-est {
    /* color: #f4b829; */
    color: white;
    height: 100%;
    /* position: absolute; */
    right: 0;
    top: 0;
    font-size: .75rem;
    font-family: Comme;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-right: 1rem; */
    padding-bottom: .5rem;
}

nav {
    background-color: white;
    background-image: linear-gradient(to right, #ccc, #ffffff 5%, #ffffff 95%, #ccc);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

nav > drop-menu {
    height: 100%;
    position: relative;
}

nav > drop-menu > a {
    /* border-bottom: 2px solid grey; */
    height: 100%;
    position: relative;
    /* background-color: #eee;
     */
     /* background-image: linear-gradient(to bottom, white, #eee); */
}

nav > drop-menu > a::after {
    content: url(expand.png);
    position: absolute;
    top: calc(100% - .25rem);
    width: 1rem;
    height: 1rem;
    left: calc(50% - .5rem);
    opacity: .15;
}

nav > drop-menu > menu-items {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    background-color: white;
    gap: 1rem;
    padding: 1rem;
    left: -1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);
    background-image: linear-gradient(to bottom, white, #eee);
    min-width: calc(100% + 2rem);
}

nav > drop-menu:hover > menu-items {
    display: flex;
}

body > img {
    width: 100%;
}

main {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    gap: 4rem;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main > img-banner {
    width: 100%;
    position: relative;
}

main > img-banner > img {
    width: 100%;
}

main > img-banner > blurb-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

main > img-banner > blurb-wrapper.left {
    justify-content: left;
}

main > img-banner > blurb-wrapper > banner-blurb {
    /* position: absolute; */
    right: 0;
    /* top: calc(50% - 4rem); */
    /* height: 4rem; */
    width: 30rem;
    padding: 1rem 1rem 1rem 2rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, .3);
    background-color: black;
    background-image: radial-gradient(circle at left, hsl(71, 28%, 15%), hsl(71, 28%, 7.5%));
}

main > img-banner > blurb-wrapper.left > banner-blurb {
    justify-content: left;
    padding: 1rem 2rem 1rem 1rem;
    text-align: right;
}

main > img-banner > blurb-wrapper > banner-blurb > blurb-heading {
    font-size: 2rem;
    color: #f4b829;
    white-space: nowrap;
}

main > img-banner > blurb-wrapper > banner-blurb > p {
    color: white;
}

main > section > h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

main > section > h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

main > section > p {
    max-width: 50rem;
    /* margin-top: 1rem; */
    line-height: 1.5;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .5rem;
    width: 100%;
    max-width: 50rem;
}

form > h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

form > *:not(h1) {
    margin-left: 1rem;
}

input, textarea {
    width: 100%;
    max-width: 50rem;
    border: 2px solid #444;
    padding: .5rem;
}

picture-gallery {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

picture-gallery > img {
    width: 30%;
}